<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="product-grid">
                <!-- loop over products -->
                    <div *ngFor="let tempProduct of products" class="col-md-4 mb-4">
                        <div class="product-box">
                            <a routerLink="/products/{{ tempProduct.id }}">
                            <h1>{{tempProduct.name}}</h1>
                            </a>
                            <div class="price">{{tempProduct.unit_price | currency:'EUR'}}</div>
                            <a href="#" class="primary-btn">Add to card</a>
                        </div>
                    </div>
                <!-- if products is empty show message -->
                 <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found with given keywoard.
                 </div>
            </div>

            <!-- pagination component -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-center">
                                <ngb-pagination
                                [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                [directionLinks]="true"
                                [rotate]="true"
                                size="sm"
                                (pageChange)="listProducts()">
                            </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>